<!DOCTYPE html>
<html>
<head>
	<title>React Example - James Joyce Books</title>
</head>
<body>
	<div id="main">
		<%- markup -%>
	</div>
	<!-- <script src="dist/bundle.js"></script> -->
</body>
</html>